.poster {
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

.content {
  font-size: 13px;
  height: auto;
  max-width: 300px;
  padding-bottom: 10px;
}

.msginput {
  width: 300px;
}